@import "mixins";
@import "reset";
@import "variables";

@import "~vue-material/dist/theme/engine";

@include md-register-theme("dark", (
        primary: black,
        accent: black,
        theme: dark,
));

@include md-register-theme("light", (
        primary: white,
        accent: white,
        theme: light,
));

@import "~vue-material/dist/theme/all"; // Apply the theme

.onlyDesktop {
  @include mediaMedium {
    display: none !important;
  }
}
